<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Grade Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>

<body onload="fetchStudents()" class="main-content">
     <nav class="navbar navbar-dark bg-dark justify-content-between">
        <div class="container">
            <a class="navbar-brand" href="/">Student Grading Application</a>
            <div class="navbar-nav">
                <div class="row">
                <a class="nav-item nav-link mr-3" href="/" >Home</a>
                <a class="nav-item nav-link" href="/students">Add and Edit Students</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container background-home">
        <h1 class="mt-3">Hello, Professor</h1>
        <p>Below are some statistics for your course and a student grade table</p>
        <div class="row font-weight-bold" >
            <div class="box col mr-5 total-students">
                <h3 id="totalStudents" class="font-weight-bold"></h3>
                <h5>Total Students</h5>
            </div>
            <div class="box col mr-5 top-students">
                <h3 id="topStudents" class="font-weight-bold"></h3>
                <h5>Exemplary Students</h5>
            </div>
            <div class="box col failing-students">
                <h3 id="failingStudents" class="font-weight-bold"></h3>
                <h5>Failing Students</h5>
            </div>
        </div>
        <div class="row mt-4 mb-5">
            <div class="col-md-6">
                <div class="col-md-12 chart">
                    <h4 class="chart-heading">Grade Distribution Chart</h4>
                    <p>The grade distribution chart shows the number of students who have achieved each grade</p>
                    <canvas id="performanceChart"></canvas>
                </div>
            </div>
            <div class="col-md-6 pad-chart">
                <div class="col-md-12 chart">
                    <h4 class="chart-heading">Statistics</h4>
                    <p>Some statistics for mean and median grades for all the students in the class</p>
                    <canvas id="statistics"></canvas>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-5">
            <div class="col-md-6">
                <div class="col-md-12 chart">
                    <h4 class="chart-heading">Mode Chart</h4>
                    <p>Mode is the most appearing number(s) in the series of grades of the students</p>
                    <canvas id="modeChart"></canvas>
                </div>
            </div>
            <div class="col-md-6 pad-chart">
                <div class="col-md-12 chart">
                    <h4 class="chart-heading">Range</h4>
                    <p>This chart displays the highest grade, lowest grade and the range which is the difference between
                        the two</p>
                    <canvas id="rangeChart"></canvas>
                </div>
            </div>
        </div>
        <h1>Student Grade Table</h1>
        <p>Below are the grades for all the students enrolled for the course. If the row is colored in <span class="text-danger">red</span>, it means the student has a failing grade</p>
        <a href="/students" class="float-right btn btn-primary mb-3">Add and Edit Students</a>
        <div class="table-responsive mb-5"> <table id="content" class="table table-bordered table-striped table-light"></table></div>
    </div>

    <script src="js/home.js"></script>

</html>